.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationButton {
  background-color: #3498db;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0 10px;
}

.paginationButton:hover {
  background-color: #2980b9;
}

.paginationButton:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.pageNumber {
  font-size: 18px;
  margin: 0 10px;
}
